body {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    background-color: #fff;
    font-size: 21px;
   
}

/* Header section */
header {
    background-color: #252525;
    padding: 20px 40px;
}

.navbar ol {
    display: flex;
    justify-content: end;
}

.navbar li {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.navbar a {
    color: #fff;
    text-decoration: none;
    padding: 10px;
    text-align: center;
    font-weight: 900;
    transition: color 0.2s ease;
}

.navbar a:hover,
.navbar a:focus {
    color:#99D930;
    text-decoration: underline;
}

/* Layout */
.container {
    width: 720px;
    margin: 0 auto;
}

.contact-container{
  width: 200px;
  display: flex;
  justify-content: space-evenly ;
}

#home-container{
    display: flex;
    justify-content: space-between;
}


/* Lettering */

.big-heading {
    margin: 0;
    font-size: clamp(40px, 8vw, 80px);
}

.small-text {
    font-size: 16px;
    margin-top: 5px;
    line-height: 25px;
} 
 
a{
    text-decoration: none;
}

/* Buttons */
.btn {
    display:inline-block;
    color: #252525;
    text-decoration: none;
    font-weight: 900;
    background: #99D930;
    padding: 10px 25px;
}

.btn:hover,
.btn:focus {
    background: #252525;
    color: #fff;
}

/* images*/
img{
    background-color: #99D930;
    border-radius: 100px;
     width: 45px;
    height: 45px;
}

img:hover,
img:focus{
    background-color: #fff;
}